{% extends 'base.html' %} {% block content %}
<h1>
  <img src="../static/images/swoledoge.jpeg" width="7%" height="7%" /> Reviews
</h1>
<hr />
     <!-- <div class="row">
      <div class="col-75">
        <textarea
          id="subject"
          name="subject"
          placeholder="Write a review"
          style="height: 250px"
        ></textarea>
      </div>
    </div> -->
    <div class="row">
      <!-- <button class="btn-submit" type="submit" value="Submit">Submit</button> -->
    </div>
  </form>
</div>

<div class="col s6">
  <form action="{% url 'reviews'%}" method="POST">
    {% csrf_token %}
    {{ review_form.as_p }}
    <input type="submit" class="btn" value="Add Review" action="orders" />

  </form>
  <table class="striped">
    <thead>
      <tr><th>Name</th><th>Product</th><th>Rating</th></tr>
    </thead>
    <tbody>
      {% for review in reviews %}
        <tr>
          <td>{{review.name}}</td>
          <td>{{review.product}}</td>
          <td>{{review.rating}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <!-- <input type="submit" class="btn" value="Add Review"> -->
</div>
</div>

<!-- <script>
  var selectEl = document.getElementById('id_rating');
  M.FormSelect.init(selectEl);
</script> -->

{% endblock %}
