{% extends 'base.html' %} {% block content %}
<script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
<script src="https://js.stripe.com/v3/"></script>
<h1>
  <img src="../static/images/swoledoge.jpeg" width="7%" height="7%" /> Thank You
</h1>
<hr />
<div class="thankyou">
  Thank you for your purchase and have a SWOLE day!!
</div>
</br>
<div class="thankyouimage">
<a href="/about/">
  <img src="../static/images/swoledoge.jpeg" width="90%" height="90%" />
 </a> 
</div>

{% endblock %}
