{% extends 'base.html' %} {% block content %}
<h1>
  <img src="../static/images/swoledoge.jpeg" width="7%" height="7%" /> Product
  List
</h1>
<hr />
<div class="container">
  {% for product in products %}
  <div class="column">
    {% if product.image %}
    <img src="{{product.image.url}}" width="30%" height="30%"/>
    {% endif %}
    
    <p hidden id="product-id" data-product="{{product.id}}" class="product-id">
      {{product.id}}
    </p>
    <p id="product-name" data-product="{{product.id}}" class="product-name">
      {{product.name}}
    </p>
    <p hidden id="product-type" data-product="{{product.id}}" class="product-type">
      {{product.product_type}}
    </p>
    <p id="product-price" data-product="{{product.id}}" class="product-price">
    {{product.price}}
    </p>
    <p id="product-description" class="product-description">
      Description: {{ product.product_description }}
    </p>
        <button data-product="{{product.id}}" class="btn-add">
          Add to cart
        </button>
   
  </div>
</br>
</div>
{% endfor %} 
<button style="transform: translateX(1200px)" onclick="window.location.href='/cart/'">
  View Cart
</button>

<script>
  let addCart = document.querySelector(".container");
   //look up dynamic event listeners (event delegation)
  let viewCart = document.querySelector("view-cart");
  let cart = []
  addCart.addEventListener("click", function (e) {
    let productId = e.target.getAttribute("data-product");
    let productArray = document.querySelectorAll(`[data-product~="${productId}"]`)
    let cartObj = {
      id: productArray[0].innerHTML.trim(),
      name: productArray[1].innerHTML.trim(),
      type: productArray[2].innerHTML.trim(),
      price: parseInt(productArray[3].innerHTML.trim()),
    }
    cart.push(cartObj)
    console.log(cart)
    jsonCart = JSON.stringify(cart);
    localStorage.setItem("cart", jsonCart);
  });
</script>
{% endblock %}

