{% extends "base.html" %} {% block content %}

<h1>Welcome to your cart</h1>

<div class="list">
  <div class="card">
    <div class="card-content"></div>
  </div>
</div>
<script>
  let cartItemsFromHT = localStorage.getItem("cart");
  let cartItems = JSON.parse(cartItemsFromHT);
  console.log(cartItems);

  let productList = document.querySelector(".list");
  cartItems.forEach(function (m) {
    document.createElement("div");
    product.className = `product-card - ${m.id}`;
    newProduct = product.querySelector(`product-card - ${m.id}`);
    newProduct.innerHTML(`${m.id}`);
    newProduct.appendChild(product);
    console.log("hello", product);
  });
</script>

{% endblock %}
