{% extends 'base.html' %} {% block content %}

<h1>Product List</h1>

{% for product in products %}
<div id="{{product.id}}" class="card">
  <div class="card-content">
    <span
      class="card-title product-name"
      id="product-name"
      data-product="{{product.id}}"
      >{{product.name}}</span
    >
    <p hidden id="product-id" data-product="{{product.id}}" class="product-id">
      {{product.id}}
    </p>
    <p id="product-type" data-product="{{product.id}}" class="product-type">
      {{product.product_type}}
    </p>
    <p id="product-price" data-product="{{product.id}}" class="product-price">
      {{product.price}}
    </p>
    <p id="product-quantity" class="product-quantity">
      Quantity: {{ product.quantity_available }}
    </p>
    <p id="product-description" class="product-description">
      Description: {{ product.product_description }}
    </p>

    <button class="increment">+</button><input type="number" /><button
      class="decrement"
    >
      -
    </button>
    <button data-product="{{product.id}}" class="add-to-cart">
      Add to cart
    </button>
  </div>
</div>

<li><a href=“/cart”>Cart</a></li>

<script>
  let productId = document.getElementById("product-id").textContent.trim();
  let productName = document.getElementById("product-name").textContent.trim();
  let productType = document.getElementById("product-type").textContent.trim();
  let productPrice = document
    .getElementById("product-price")
    .textContent.trim();
  let productPriceInt = parseInt(productPrice);

  let cartObj = {
    id: productId,
    name: productName,
    type: productType,
    price: productPriceInt,
  };
  console.log(cartObj);

  let addCart = document.querySelector(".add-to-cart"); //look up dynamic event listeners (event delegation)
  let viewCart = document.querySelector("view-cart");
  addCart.addEventListener("click", function () {
    localStorage.setItem("setObject", JSON.stringify(cartObj));
  });

  viewCart.addEventListener("click", function () {
    let getObject = localStorage.getItem("setObject");
    console.log("retrievedObject: ", JSON.parse(getObject));
  });
</script>

{% endfor %} {% endblock %}
